.hero {
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-width: auto;
    z-index: -2;
    &__text {
        max-width: 53%;
        color: white;
        margin-top: 4.5rem;
        z-index: 2;
        text-shadow: 1px 1px 3px black;
        p {
            margin-bottom: 2rem;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &:after {
        content: "";
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.25) 40%);
        z-index: -4;
        position: absolute;
    }
    &:before {
        content: "";
        top: 0;
        bottom: 0rem;
        right: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255,255,255,0) 22%, rgba(255,255,255,0.06495098039215685) 25%, rgba(255,255,255,0.1293767507002801) 68%, rgba(79,107,129,0.9276960784313726) 92%, rgba(30,66,94,1) 100%);
        z-index: -1;
        position: absolute;
    }
    &--home {
        background: url(/images/hero.png);
    }
    &--business {
        background: url(/images/ginger-hendee-N8buV78yNBo-unsplash.png);
    }
    &--subsidy {
        background: url(/images/high-angle-two-stacks-coins-grass-with-jar-plants.png);
    }
    &--farm {
        background: url(/images/cows.png);
    }
    &--rekentool, &--contact {
        background: url(/images/rekentool-hero.png);
    }
    &--private {
        background: url(/images/cozy-composition-with-burning-candles-interior-room.png);
    }
    &__image img{
        max-width: 325px;
        margin-top: 2rem;
        margin-right: 4rem;
    }
}

.container--image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}