.stories__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories__image {
    max-width: 100%;
    flex: 1;
    picture {
        display: flex;
        justify-content: center;
    }
    img {
        width: 100%; 
        max-width: 55%; 
        height: auto; 
        display: block; 
    }
}
