.textblock {
    background: $yellow;
    width: fit-content;
    padding: 2rem;
    border-radius: 32px;
    h3 {
        width: fit-content;
        color: black;
    }
    p {  
        color: black;
    }
}