.variants {
    &__heading {
        margin-bottom: 2.25rem;
    }
    &__column {
        display: grid;
        padding-right: 7rem;
        &-heading {
            margin-bottom: .5rem;
        }
        &-text {
            margin-bottom: 1.5rem;
        }
        &:nth-child(1) {
            margin-bottom: 5rem;
        }
        &:nth-child(2) {
            margin-bottom: 5rem;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

